pdfsam-enhanced/pdfsam-console/tags/V_1_1_4e/etc/concat-file-list.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:element name="filelist">
		<xs:complexType>
			<xs:sequence minOccurs="1" maxOccurs="unbounded">
				<xs:element name="file" type="file-node">					
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="file-node">
		<xs:attribute name="value" type="xs:string" use="required"/>
		<xs:attribute name="password" type="xs:string" use="optional"/>
	</xs:complexType>
</xs:schema>	